// HEADER
$desktop_header_height: 82px;
$mobile_header_height: 60px;

// BUTTONS
$button_height_sm: 32px;
$button_height_md: 38px;
$button_height_lg: 42px;
$button_height_xl: 50px;
$button_border_radius: 8px;

// INPUTS
$input_height_sm: 32px;
$input_height_md: 38px;
$input_height_lg: 42px;
$input_height_xl: 50px;
$input_border_radius: 8px;

// INPUTS
$dropdown_height_sm: 32px;
$dropdown_height_md: 38px;
$dropdown_height_lg: 42px;
$dropdown_height_xl: 50px;
$dropdown_border_radius: 8px;

// CHECKBOXES
$checkbox_height_sm: 14px;
$checkbox_height_md: 16px;
$checkbox_height_lg: 18px;
$checkbox_height_xl: 20px;
$checkbox_border_radius: 2px;
