@import '../../styles/mixins.scss';
@import '../../styles/sizes.scss';

.pagination {
  width: auto;
  @include center;
  gap: 12px;
}

.pagination_button {
  height: $button_height_sm;
  width: $button_height_sm;
}
